<div>
  <h5>ジャンル検索<h5>
  <ul>
    <% @genres.each do |genre| %>
      <li><%= link_to genre.title, items_path(genre_id: genre.id)  %></li>
    <% end %>
  </ul>
</div>


 <%= attachment_image_tag @item, :image, :fill, 1200, 1200, format: 'jpeg', size:'200x200', style: "border-radius: 2px;"%>
 <%= @item.name %><br>
 <%= @item.introduction %><br>
 ￥<%= @item.price %>(税抜)

<%= form_with model: @cart_item, url: cart_items_path do |f| %>
  <%= f.number_field :amount, min: 1, max: 10, :value => 1 %> 個
  <%= f.hidden_field :item_id, :value => @item.id %>
  <%= f.submit "カートに追加" %>
<% end %>