<!DOCTYPE html>
<html>
  <head>
    <title>NagaCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class = "navbar navbar-default" style="background-color:black;">
      <div class = "container">
        <nav class = "nav navbar-nav navbar-left" >
          <span class="mu-reco">
            nagano_cake
          </span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right" >
            <% if end_user_signed_in? %>
             <li>
                <%= link_to '商品一覧', items_path %>
              </li>
              <li>
                <%= link_to 'マイページ', end_users_my_page_path %>
              </li>
              <li>
                <%= link_to 'カゴ', cart_items_path %>
              </li>
              <li>
                <%= link_to 'ログアウト', destroy_end_user_session_path, method: :delete %>
              </li>
              <li>
                <%= current_end_user.last_name %> <%= current_end_user.first_name %>様
              </li>
            <% elsif admin_signed_in? %>
              <li>
                <%= link_to '新規追加', new_admin_item_path %>
              </li>
              <li>
                <%= link_to '商品一覧', admin_items_path %>
              </li>
              <li>
                <%= link_to 'ユーザー情報', admin_end_users_path %>
              </li>
              <li>
                <%= link_to '注文情報', admin_orders_path %>
              </li>
              <li>
                <%= link_to 'ジャンル管理', admin_genres_path %>
              </li>
              <li>
                <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to '商品一覧', items_path %>
              </li>
              <li>
                <%= link_to '会員登録', new_end_user_registration_path %>
              </li>
              <li>
                <%= link_to 'ログイン', new_end_user_session_path %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

  <body>
    <%= yield %>
  </body>
</html>
